# Hugo
public
resources
.hugo_build.lock

# Editor
.vscode
.idea

# Tooling
.serena
.antigravitycli

# NPM
node_modules

# macOS
.DS_Store
assets/jsconfig.json
package.json
package-lock.json
node_modules/
